<h1>Sitemap</h1>

<p>From this page, you can visit the other pages of my site; such as my portfolio pics
</p>
<a href = "/myportfolio/pics">My Portfolio</a>
<br>

<p>Or, you can return to the home page.
</p>
<a href = "/welcome/index">Home</a>

<p> New Visit Array: <%= @message %> </p>


