<style type="text/css">	
  img {
  	border: 2px solid black;
  	width: 175px;
  }
  p.description {
  	color: red;
  }
</style>  


<h1>Rana Roop</h1>

<h2>This will be the about me page too.</h2>


<p>UX designer by day; programming newbie by night.</p>
<i>I have no special talent. I am only passionately curioius.</i>
<b>- <i>Albert Einstein</b></i>
<br>
<br>
<img src="https://media.licdn.com/media/p/4/000/14d/3f8/3425436.jpg"><p>c'est moi</p>

<hr/>

<form action="/set_name" method="POST" >

	<input 
		type="textfied" 
		name="user_name" 
		value=""
	/>

	<input 
	type="submit"
	value="Submit"
	/>

<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />

</form>






<a href = "/sitemap/index">Sitemap</a>
<a href = "/myportfolio/pics">My Portfolio</a>