<h1>Portfolio#index</h1>
<p>Find me in app/views/myportfolio/index.html.erb</p>

guess = Array.new
puts guess.class
def ask()
      puts "Please answer in a 'y' or 'n' only!"
      puts "Would like to play again?"
end


def guess_check_against()
       g = guess.last
unless guess.include?(g) != guess
       count+=1
else
     puts "sorry you have guessed that number before, Guess Again: "
       guess << gets.to_i
       count+=1
end
end

puts "what is your name?"
user= gets.chomp

puts "Hello #{user}!!"
max_user_attempts = 4
@attempt_counter = 0
directions = "\nLets play a guessing game! You have
#{max_user_attempts.to_s} guesses before you lose."
print directions

g = guess.last
win = 0
count = 0
play = true

while play == true


<a href="https://fbcdn-sphotos-c-a.akamaihd.net/hphotos-ak-xpa1/t1.0-9/1560656_10152670763173254_4200004522404042888_n.jpg">

<a href = "/sitemap/index">Sitemap</a>
<a href = "/myportfolio/pics">My Portfolio</a>

<p> New Visit Array: <%= @message %> </p>
